header h1 {
  font-size: 8em; }

header h2 {
  font-size: 5em; }

h1, h2, h3 {
  font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif; }

h1, h2 {
  color: maroon; }

h1 {
  font-size: 7em; }

h2 {
  text-align: center;
  font-size: 5em; }

h3 {
  color: #2f31c0;
  font-size: 2.4em; }

body {
  background-image: url("../img/bookbggray.png");
  background-attachment: fixed;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif; }

nav {
  background-image: url("../IMG/grayscalealice4.png"); }
  nav .breadcrumb {
    font-size: x-large; }

p {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
  color: deeppink;
  font-weight: bold; }

a {
  color: teal; }

.jumbotron {
  background-image: url("../img/jumbo.jpg");
  padding: 30px 0px;
  margin: 0px;
  font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif;
  color: maroon; }

.bookshelf {
  background-image: url("../img/emptyshelftall3.png");
  background-size: 160px;
  background-repeat: repeat-y; }

.breadcrumb {
  background-color: #f8dfdf; }
  .breadcrumb a {
    color: inherit; }

.navbar {
  background-size: contain; }

.removessubtleborder {
  border: 0px none blue; }

.carousel {
  border: solid 5px white;
  border-radius: 15px;
  background-color: black; }
  .carousel img {
    margin: auto; }

.cafecarousel {
  margin: 50px auto;
  width: 430px;
  height: 310px; }

.coffeecarousel {
  margin: 50px auto;
  width: 270px;
  height: 190px; }

.cafeimg {
  width: inherit; }

.carousel-caption {
  font-family: cursive, Arial, Helvetica, sans-serif; }

.nogap {
  margin: inherit 0px;
  padding: inherit 0px; }

.card-body {
  padding-bottom: 0px; }

#invisible {
  background-color: transparent;
  color: transparent; }

#navbarBreadcrumb {
  margin: 0px;
  padding: 0px 10px; }

#bookshelfNavbar {
  padding-left: 0px; }
