header h1 {
  font-size: 8em; }

header h2 {
  font-size: 5em; }

h1, h2, h3 {
  font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif; }

h1, h2 {
  color: maroon; }

h1 {
  font-size: 7em; }

h2 {
  text-align: center;
  font-size: 5em; }

h3 {
  color: #2f31c0;
  font-size: 2.4em; }

body {
  background-image: url("../img/bookbggray.png");
  background-attachment: fixed;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif; }

table {
  border: 1px solid black;
  margin: 45px 0px;
  background-color: rgba(255, 175, 164, 0.705); }

th, td {
  border-bottom: 1px solid black; }

nav, .graybook {
  background-image: url("../IMG/grayscalealice4.png"); }
  nav .breadcrumb, .graybook .breadcrumb {
    font-size: x-large; }

p {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
  color: deeppink;
  font-weight: bold; }

a {
  color: teal; }

.jumbotron {
  background-image: url("../img/jumbo.jpg");
  padding: 30px 0px;
  margin: 0px;
  font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif;
  color: maroon; }

.bookshelf {
  background-image: url("../img/emptyshelftall3.png");
  background-size: 160px;
  background-repeat: repeat-y; }

.breadcrumb {
  background-color: #f8dfdf; }
  .breadcrumb a {
    color: inherit; }

.btn {
  margin: 25px 5px 5px; }

.navbar {
  background-size: contain; }

.removessubtleborder {
  border: 0px none blue; }

.carousel {
  border: solid 5px white;
  border-radius: 15px;
  background-color: black; }
  .carousel img {
    margin: auto; }

.cafecarousel {
  margin: 50px auto;
  width: 430px;
  height: 310px; }

.coffeecarousel {
  margin: 50px auto;
  width: 270px;
  height: 190px; }

.scificarousel {
  margin: 50px auto;
  width: 363;
  height: 280; }

.cafeimg {
  width: inherit; }

.carousel-caption {
  font-family: cursive, Arial, Helvetica, sans-serif; }

.graybook, .media {
  margin-bottom: 25px; }

.modal-body {
  background-image: url("../IMG/grayscalealice4.png");
  font-size: 1.4em;
  font-weight: bolder;
  color: cyan; }

.nogap {
  margin: inherit 0px;
  padding: inherit 0px; }

.card-body {
  padding-bottom: 0px; }

.tab-content, #accordion .card {
  border: 3px solid rgba(248, 216, 35, 0.836);
  border-top: none;
  padding: 10px; }
  .tab-content h2, .tab-content p, #accordion .card h2, #accordion .card p {
    color: orange; }

#accordion .card {
  background-image: url("../IMG/lewiscarrol.jpg"); }
  #accordion .card a, #accordion .card a:hover {
    color: cyan;
    font-size: 1.6em;
    font-family: copperplate; }
  #accordion .card p {
    color: greenyellow; }

#invisible {
  background-color: transparent;
  color: transparent; }

#navbarBreadcrumb {
  margin: 0px;
  padding: 0px 10px; }

#bookshelfNavbar {
  padding-left: 0px; }

#studioTabs li {
  font-size: 1.4em;
  font-weight: bolder;
  font-family: Gothic; }
  #studioTabs li .active {
    background-image: url("../img/dickens2.jpg");
    background-size: 100% 100%;
    color: cyan;
    border-bottom-color: transparent; }

#conferenceTabs li {
  font-size: 1.4em;
  font-weight: bolder;
  font-family: Gothic; }
  #conferenceTabs li .active {
    background-image: url("../img/dickens2.jpg");
    background-size: 100% 100%;
    color: cyan;
    border-bottom-color: transparent; }

#footer, #footer p {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f31c0; }

#redRoom h2, #redRoom p {
  color: red; }

#indigoRoom h2, #indigoRoom p {
  color: violet; }

#turquoiseRoom h2, #turquoiseRoom p {
  color: greenyellow; }

#roomModal .modal-header {
  background-image: url("../img/dickens2.jpg");
  background-size: 100% 100%; }
  #roomModal .modal-header h1 {
    color: cyan; }
