$color-poetry: #2f31c0;
$color-breadcrumb: rgb(248, 223, 223);

$body-font: Arial, Helvetica, sans-serif;;
$header-font: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif; 

header {
    h1 {
        font-size: 8em;
    } 
    h2 {
        font-size: 5em;
    }
}

h1, h2, h3 {
    font-family: $header-font;
}

h1, h2 {
  color: maroon;
}

h1 { 
    font-size: 7em;
}

h2 {
    font-size: 5em;
}

h3 {
  color: $color-poetry;
  font-size: 2.4em;
}

body {
    background-image: url("../img/bookbggray.png"); 
    background-attachment: fixed;
    background-size: 100%;
    font-family: $body-font;
}

nav {
    background-image: url("../IMG/grayscalealice4.png");
    .breadcrumb {
      font-size: x-large;
    }
}

p {
    font-family: cursive, $body-font;  
    font-size: 1.5em;
    margin-top: 20px;
    color: deeppink;
    font-weight: bold;
}

a {
    color: teal;
  }

.jumbotron {
    background-image: url("../img/jumbo.jpg");
    padding: 30px 0px;
    margin: 0px;
    font-family: $header-font;
    color: maroon;
}

.bookshelf {
    background-image: url("../img/emptyshelftall3.png");
    background-size: 160px;
    background-repeat: repeat-y;
}

.breadcrumb {
    background-color: $color-breadcrumb;
    a {
        color: inherit;
    }
}

.navbar {
  background-size: contain;
}

.removessubtleborder {
    border: 0px none blue;
}

#invisible {
    background-color: transparent;
    color: transparent;
}

#navbarBreadcrumb {
    margin: 0px;
    padding: 0px 10px;
}
